@model CacheProductList
@section Header{
    <link href="~/css/index.css" rel="stylesheet" />
}
<distributed-cache name="mycache" expires-after="TimeSpan.FromMinutes(15)">
    <!-- end.headerBar -->
    <div class="pageContainer">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:;"><img src="/images/banner0.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:;"><img src="/images/banner1.jpg" alt=""></a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- end.swiper -->
        <div class="productListRank">
            <div class="productListRankTit">品质·购物</div>
            <ul>
                @{ 
                    List<ProductModel> list = Model.ProductList.OrderByDescending(a => a.IsTop)
                        .OrderByDescending(a => a.SalesVolume)
                        .Skip(0)
                        .Take(20).ToList();
                }
                @foreach (ProductModel product in list)
                {
                <li class="productListRankItem">
                    <a asp-controller="product" asp-action="product" asp-route-productid="@product.ProductID">
                        <span class="pic">
                            <img src="@product.Picture" alt="">
                        </span>
                        <span class="tit">
                            @product.CnName
                        </span>
                        <span class="info">
                            <span class="price">
                                ￥<em class="bigPrice">@product.PurchasePrice</em>
                            </span>
                            <span class="praise">
                                <em>已售 @product.SalesVolume</em>
                            </span>
                        </span>
                    </a>
                </li>
                }
            </ul>
            <a class="productListMore">
                加载更多内容
            </a>
        </div>
    </div>
    <!-- end.pageContainer -->
</distributed-cache>
    @section scripts{
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
            $(function () {
                $('#home').parent().addClass('cur');
            });
        </script>
    }
